@font-face {
	font-family: 'Inter';
	src: url('../assets/fonts/InterMedium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('../assets/fonts/InterRegular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}