@use './styles/index';

:root {
  --accent-color: #06f;

  --font-family-base: 'Inter';

  --border-radius: 6px;

  --container-padding-x: 16px;

  --min-viewport-width: 320px;
  --max-viewport-width: 1200px;
}

body {
  font-family: var(--font-family-base), sans-serif;
  font-size: 14px;
  background-color: #f6f8fA;
  color: #1a1f36;
}

.container {
  width: 100%;
  max-width: clamp(var(--min-viewport-width), calc(var(--min-viewport-width) + (100vw - var(--min-viewport-width)) * 1), var(--max-viewport-width));
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}